:root {
  --qtify-green: #34C94B; 
  --qtify-black: #121212;
}
.btn {
  background-color: var(--qtify-black);
  color: var(--qtify-green);
  font-family: "Poppins", sans-serif;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.85;
}