.card {
  width: 160px;                   
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
}

.imageWrapper {
  width: 100%;
  height: 180px;                  
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bottom {
  background: #FFFFFF;
  padding: 10px 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.chip {
  margin-bottom: 6px;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: #FFFFFF;
  background-color: #121212;
  display: flex;
  align-items:flex-start;
}
